window 
{
  font-family:Verdana, Arial, sans-serif;
}

menulist
{
  font-size:smaller;  
}

treechildren::-moz-tree-cell-text(matchedText)
{
  color: #90FF90;
}

treechildren::-moz-tree-cell-text(unmatchedText)
{
  color: #FF9090;
}